jupyter
ipython
notebook
pandas
cvxopt
pulp
joblib
matplotlib
seaborn
numpy
flask
lxml
requests
black
jupyterlab
jupyterlab_code_formatter
jupyterlab-git
lckr-jupyterlab-variableinspector
jupyterlab_widgets
ipywidgets
import-ipynb
matplotlib-venn
scikit-learn